nav ul{
	padding: 0px;
	margin : 0px;
	list-style-type: none;
	background-color: orange;
	text-align: center;
}
nav li {
	display: block;

	color: white;

	display: inline-block;
	margin: 0px;
	padding: 5px;
	
	height: 30px;
	
	
	
}
nav li:hover{
	color: black;
}
